/* @import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap"); */
/* src/index.css */
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* 
* {
  --primary: #0e191a; ;
  --secondary: #7ebdc2;
  --dark: #231f20;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: azure;
}

img {
  max-width: 30px;
}

.App {
  display: grid;
  grid-template-areas:
    "header"
    "main-content"
    "footer";
}

.appContainer {
  min-height: 80vh;
  grid-area: main-content;
  font-family: Arial, Helvetica, sans-serif; 
  margin: 10px 20px;  
}

.footer {
  background-color: var(--dark);
  color: azure;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif; 
}

.fancyButton {
  background-color: var(--primary);
  border: var(--primary);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.fancyButton:hover {
  background-color: azure;
  color: var(--primary);
  outline: 1px solid var(--primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.mainTable {
  margin-bottom: 15px;
  border-collapse: collapse;
  width: 100%;
}

.mainTable th, .mainTable td {
  border: 1px solid var(--secondary);
  padding: 8px;
}

.mainTable th {
  background-color: var(--secondary);
  color: #fff;
  text-align: left;
}

.mainTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.mainTable tr:hover {
  background-color: #ddd;
  transform: scale(1.02); 
  transition: transform 0.2s ease-in;
}

.btn-create {
  background-color: var(--secondary);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.btn-create:hover {
  background-color: #6caddf;
}


.date-column {
  display: flex;
  flex-direction: column;
}

.date-column p {
  margin: 2px;
}


.header {
  background: var(--primary); 
  color: #000; 
}



.mainTable {
  margin-bottom: 15px;
  border-collapse: collapse;
  width: 100%;
}

.mainTable th, .mainTable td {
  border: 1px solid var(--secondary);
  padding: 8px;
}

.mainTable th {
  background-color: var(--secondary);
  color: #fff;
  text-align: left;
}

.mainTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.mainTable tr:hover {
  background-color: #ddd;
  transform: scale(1.02); 
  transition: transform 0.2s ease-in;
}


.btn-create {
  background-color: var(--secondary);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.btn-create:hover {
  background-color: #6caddf;
}


.date-column {
  display: flex;
  flex-direction: column;
}

.date-column p {
  margin: 2px;
} */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom Styles */
.App {
  @apply grid grid-rows-[auto,1fr,auto];
}

.appContainer {
  @apply min-h-[80vh] grid-cols-1 gap-8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 20px;
}

.footer {
  @apply bg-gray-800 text-white grid-cols-1 items-center p-2;
}

.fancyButton {
  @apply bg-primary border-primary text-white py-2 px-4 rounded cursor-pointer transition duration-200 ease-in;
}

.fancyButton:hover {
  @apply bg-white text-primary outline-primary shadow-md;
}

.mainTable {
  @apply mb-8 border-collapse w-full;
}

.mainTable th, .mainTable td {
  @apply border-secondary border py-2 px-4;
}

.mainTable th {
  @apply bg-secondary text-white text-left;
}

.mainTable tr:nth-child(even) {
  @apply bg-gray-100;
}

.mainTable tr:hover {
  @apply bg-gray-300 transform scale-102 transition duration-200 ease-in;
}

.btn-create {
  @apply bg-secondary text-white border-none py-2 px-4 rounded cursor-pointer transition duration-200 ease-in;
}

.btn-create:hover {
  @apply bg-blue-400;
}

.date-column {
  @apply flex flex-col;
}

.date-column p {
  @apply m-1;
}
